body {
  background-color: #FFFBF9;
}

h1{
  color: #555;
  text-align: center;
}

h2 {
  color: #777;
}

img {
  border-radius: 50%;
  text-align: center;
  margin-bottom: 20px;
}

li {
  transition: 0.5s;
}

li:hover {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
}

.contain {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  text-align: center;
  margin: 0 auto;
  width: 90%;
}

.contain ul {
  list-style: none;
  -webkit-padding-start: 0px;
}

.empBox {
  margin-bottom: 20px;
  border: solid #EBE8E6 2px;
  border-radius: 5px;
  background-color: white;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 10px;
}

.empContent {
  text-align: center;

}

.h3, h3, .h2, h2 {
  font-size: 1em !important;
}

.capitalize {
  text-transform:capitalize;
}

a:link, a:hover, a:active, a:visited {
  color: #AAA;
  text-decoration: none;
  outline: none !important;
  box-shadow: none;
}

@media all and (min-width: 470px) {
  img {
    margin-bottom: 0;
  }

  .empBox {
    display: flex;
    align-items: center;
  }

  .empContent {
    text-align: left;
    margin-left: 20px;
  }

  .h3, h3, .h2, h2 {
    font-size: 1em !important;
  }

}

@media all and (min-width: 1000px) {
  h1 {
    text-align: left;
    margin-left: 2%;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  a {
    box-sizing: border-box;
    width: 47%;
  }

}

@media all and (min-width: 1550px) {
  a {
      width: 30%;
    }
  }

  /*BOOTSTRAP CHANGES*/
  .modal-body h2{
    color: #222 !important;
  }

  .modal-body h3{
    color: #AAA !important;
  }

  .modal-header {
    border-bottom: none;
  }

  .modal img {
    margin-bottom: 10px;
  }
